@media (max-width: 800px) {
  .intro h1 {
    font-size: 4rem;
  }

  #play {
    width: 8rem;
    font-size: 1rem;
  }

  #alpha li,
  #categories p {
    font-size: 1.2rem;
  }


  #lives {
    font-size: 1.3rem;
  }
}
